* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  transition: all 0.5 ease-in-out;
}
main {

  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  /* background-color: black; */
  color: white;
  position: relative;
  
}

.left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 23);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.left ul li a{

    text-decoration: none;
    color: white;
    transition: all 1s ease-in-out;
}

.right {
  
  width: 80%;
  position: absolute;
  background-color: black;
  right:0px;
  top: 0px;

}

.left ul {
  width: 70%;
 
}
.left ul li {
  list-style: none;
  margin: 30px 30px;
  border-bottom: 0.5px solid rgb(48, 48, 48);
  padding: 10px 0px;
}

.left ul li span {
  margin: 0px 3px;
}

.left ul li:nth-child(2){

     color: yellow;
}

.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  position: relative;
  transition: all 1s ease-in-out;
}

.home-left h1,h4,h6{

    line-height: 80px;
}

.home-left h1{

  font-size: 45px;
}

.home-left h4{

  font-size: 35px;
}

.home-left h6{

  font-size: 20px;
  color: rgb(63, 62, 62);
}

.home-left button{

  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: yellow;
  font-weight: bold;

}

.home-right{

  border: 2px solid yellow;
  height: 350px;
  width: 350px;
  border-radius: 200px;
  background-color: yellow;
  position: relative;
  
}

.home-right img{

  width: 90%;
  height: auto;
  position: absolute;
  right: 70px;
  bottom: -20px;
}

.about{

  width: 80%;
  margin: auto;
  position: relative;
  transition: all 1s ease-in-out;

}

.inner-about{

  /* border: 2px solid white; */
  display: flex;  
  justify-content: space-between;
  flex-wrap: wrap;
  
}

  .inner-about-box{
    
    /* border: 2px solid yellow; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 5px 5px;
    background-color: rgb(23, 23, 23);
    flex-grow: 3;

    
    
  }

.inner-about-box:nth-child(1){
  
  width: 350px;

 
}

.inner-about-box:nth-child(2){
   
  width: 250px;
 
}

.inner-about-box:nth-child(3){
   
  width: 250px;

  
}

.about h1{

  position: relative;

}

.about h1::after{

   content: "";
   border: 2px solid yellow;
   position: absolute;
   width: 10%;
   bottom: 0px;
   left: 5px;
}

.about h1,p,.inner-about{

   margin: 35px 0px;
} 

.inner-about-box h2{

  border-bottom: 2px solid yellow;
  border-radius: 5px;
  text-shadow: 0px 0px 2px yellow;
  letter-spacing: 2px;
}

.about p {

  line-height: 28px;
}

.inner-about-box ul li{

   margin: 10px 0px;
   word-spacing: 4px;
   list-style: none;

}

.inner-about-box i{
   
   color: yellow;
   font-size: 20px;
}

.qualification{
      
    width: 80%;
    margin: auto;
    margin-top: 200px;
    position: relative;
    transition: all 1s ease-in-out;
}   

.qualification h1{

    margin: 50px 0px;
}

.education-experience{

     display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
}

.education{

  background-color: rgb(23, 23, 23);
  width: 450px;
  padding: 0px 50px;
  position: relative;
  margin: 5px;
  flex-grow: 2;
}

.experience{

  background-color: rgb(23, 23, 23);
  width: 450px;
  padding: 0px 50px;
  position: relative;
  margin: 5px;
  flex-shrink: 2;
 

}


.education-box .year , h3{

    line-height: 5px;
    
}

.education-box p{

    text-align: justify;
 
}

.education-box::before{
     
    content: "";
    position: absolute;
    top: 130px;
    left: 30px;
    border-right: 2px solid yellow;
    height: 120px;
}


.education-box:nth-child(2)::before{

    top: 285px;
    left: 30px;

}

.education-box:nth-child(3)::before{

    top: 450px;
    left: 30px;

}

.education h2{

    margin: 30px 0px;
    letter-spacing: 3px;
    color: yellow;
}

.qualification h1::before{

    content: "";
    position: absolute;
    background-color: yellow;
    width: 180px;
    height: 2px;
    top: 55px;
    left: 5px;
}

.fa-graduation-cap{

    position: absolute;
    left: 20px;
    font-size: 18px;
    color: yellow;
}

.fa-briefcase{
    position: absolute;
    left: 20px;
    font-size: 18px;
    color: yellow;
}

.cap1{

    top: 95px;
}

.cap2{

    top: 260px;
}

.cap3{

    top: 420px;
}





@media (max-width:976px){

  .left{

      display: none;
  }

  .right{

      width: 100%;
     
  }

   .home{

    text-align: center;
   }

  .inner-about-box:nth-child(1){

     flex-grow: 3;
   
  }

  .inner-about-box:nth-child(2){

    flex-grow: 1;
    margin: 5px;
   
 }

 .inner-about-box:nth-child(3){

    flex-grow: 1;
  
 }

 .cap2{

    top: 280px;
 }

 .cap3{

    top: 470px;
 }

 .education-box:nth-child(2)::before{

    top: 310px;
    left: 30px;

}

.education-box:nth-child(3)::before{

    top: 500px;
    left: 30px;

}



}
